# Core
Django>=5.1,<5.2
anthropic>=0.109.0,<0.110.0

# Utilities
python-dotenv>=1.0.1
dj-database-url>=2.1.0
Pillow>=10.0.0

# Server & Static
gunicorn>=22.0.0
whitenoise>=6.6.0

# Database
psycopg2-binary>=2.9.9

markdown==3.5.2
